.login-container{
    height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 100%;
    max-width: 500px;
}

mat-form-field{
    width: 100%;
    margin-bottom: 16px;
}

mat-card-content{
    padding-top: 32px;
}

mat-card-actions{
    display: flex;
    justify-content: flex-end;
}