<mat-card [formGroup]="form" class="tela">
  <mat-card-header>
    <mat-card-title>Empresa</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="16px">

      <mat-form-field fxFlex [appearance]="'outline'">
        <mat-label>Razão Social</mat-label>
        <input matInput type="text" formControlName="razaoSocial">
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="16px">

        <mat-form-field fxFlex [appearance]="'outline'">
          <mat-label>Nome fantasia</mat-label>
          <input matInput type="text" formControlName="fantasia">
        </mat-form-field>

        <mat-form-field [appearance]="'outline'">
          <mat-label>CNPJ</mat-label>
          <input matInput type="text" formControlName="cnpj">
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="header-padrao">
        <mat-card-subtitle class="no-margin">Segmentos</mat-card-subtitle>
        <button (click)="novoSegmento()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="container-padrao" formArrayName="segmentos">
        <mat-form-field *ngFor="let segmento of segmentos.controls; index as i" [appearance]="'outline'">
          <mat-label>Segmento</mat-label>
          <input matInput type="text" formControlName="{{i}}">
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutGap="16px" class="header-padrao">
        <mat-card-subtitle class="no-margin">Contatos</mat-card-subtitle>
        <button (click)="novoContato()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div formArrayName="contatos">
        <div fxLayout="columns" fxLayoutGap="16px" *ngFor="let contato of contatos.controls; index as i"
          formGroupName="{{i}}">

          <mat-form-field fxFlex [appearance]="'outline'">
            <mat-label>Pessoa</mat-label>
            <input matInput type="text" formControlName="pessoa">
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>Telefone</mat-label>
            <input matInput type="number" formControlName="telefone">
          </mat-form-field>

        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayoutAlign="end start">
    <button color="primary" mat-raised-button>Salvar</button>
  </mat-card-actions>

</mat-card>
